<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Node Blog</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
	<div id="wrapper">
		<img src="../images/image.jpg" class="logo">
		<p class="logo-text"><span class="left">Node</span>Blog</p>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/posts/new">Create New Blog Post</a></li>
		        <li><a href="/categories/new">Add Category</a></li>
			</ul>
		</nav>
   <!-- Where content from other layouts appear-->
    {{{body}}}
	</div>
</body>

</html>