<div class="ui segment">
    <form class="ui form" action="/posts/new" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Author</label>
            <input type="text" name="author" placeholder="Name">
        </div>
        <div class="field">
            <label>Blog title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="field">
            <label>Category</label>
            <select class="ui dropdown" name="category">
                    {{#each categories}}<option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
            </select>
        </div>
        <div class="field">
            <label>Blog Image</label>
            <input type="file" name="blogImage">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="content" id="editor1"></textarea>
        </div>
        <button class="ui button scheme-button" type="submit">Save</button>
    </form>
    <script>
      CKEDITOR.replace('editor1')
    </script>
</div>
