/*NAVIGATION*/

div.navbar.navbar-inverse{
    margin-bottom: 0;
    color: #fff;
}
.navbar-nav.navbar-right>li>a:hover {
    background: #8BC34A;
    color: #000;
}

/*LOGO*/

.logo {
    text-align: center;
    font-size: 3em;
}

.left {
    color: #8BC34A;
}

/*Flash Messages Styling*/
.alert {
    background: #404137;
    color: red;
    width: 480px;
    padding: 3px;
    margin: 5px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
}

/* Inputs */

input[type="text"],
textarea,
select {
    display: block;
    padding: 3px;
    height: 30px;
    width: 200px;
    border: 1px solid #ccc;
}

textarea {
    height: 70px;
    width: 400px;
}

/*Custom Button Style*/
.button-main {
    color: #FFF;
    background-color: #8BC34A;
    border-color: #8BC34A;
}

label{
    padding: 7px;
    border-radius: 5px;
    background: #8BC34A;
    color: #fff;
    text-transform: uppercase;
}

.img-responsive{
    height: fit-content;
}